# Ignore virtual environment folders
venv/
env/
bin/
include/
lib/
lib64/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore system files
.DS_Store

# Ignore model artifacts (optional)
*.joblib
*.pkl

